body {

    background-color: rgba(2, 0, 3, 0.699);
    
    
}



nav li {

display: inline;
padding: 20px;
background-color: rgb(53, 52, 52);

margin: 70px 0px;
}



nav ul {

margin-top: 85px;
margin-left: 0px;


}




header {

        display: flex;
        flex-direction: column;
        
        align-items: flex-end;
        

}

nav a {

    color: grey;
    text-decoration: none;
    font-family: 'Roboto Condensed', sans-serif;
}
    h1 {

            text-align: center;
            margin-top: 120px;
            font-family: 'Roboto Condensed', sans-serif;
            color: rgb(204, 204, 204);
            height: 30px;

    }

    .modul {

            color: rgb(0, 0, 0);
            font-family: 'Roboto Condensed', sans-serif;
    }

    #diveins {

        position: absolute;
        left: 0;
        top: 30;
        width: 400px;
        height: 50px;

    }

    p {

        color: rgb(173, 173, 173);
        max-width: 1000px;
        font-family: 'Roboto Condensed', sans-serif;
    }

        h2 {

            color: rgb(53, 102, 207);
            font-family: 'Roboto Condensed', sans-serif;
        }


        .abfrage {

                display: flex;
                justify-content: center;
                
                
        }

        li {
            font-family: 'Roboto Condensed', sans-serif;
            color: grey;
        }

        footer {

                position: absolute;
                background-color: rgba(2, 0, 3, 0.527);

        }

        .htmltitel {

                    color: rgb(53, 102, 207);

        }


        #ankereins {

            color: rgb(53, 102, 207);
        }

        .pundp {

                color: rgb(53, 102, 207);
                font-family: 'Roboto Condensed', sans-serif;
        }

        .aunda {

            color: rgb(53, 102, 207);
            font-family: 'Roboto Condensed', sans-serif;
        }

        .starttag {

            color: rgb(53, 102, 207);
            font-family: 'Roboto Condensed', sans-serif;
        }
        ul {
                max-width: 1000px;
                color: rgb(173, 173, 173);
                
                    }
                    ol {

                        color: rgb(173, 173, 173);
                    }

                    .beins {


                        color: rgb(53, 102, 207);
                    }

.pzwei {

    color: rgb(53, 102, 207);
}


.pdrei {


    color: rgb(53, 102, 207);
}

.separat {

    color: rgb(204, 204, 204);

}
    /* Das Internet */

    .navbar {
        overflow: hidden;
        background-color: #333;
        font-family: Arial, Helvetica, sans-serif;
      }
      
      .navbar a {
        float: none;
        font-size: 16px;
        color: white;
        text-align: center;
        padding: 14px 16px;
        text-decoration: none;
      }
      
      .dropdown {
        overflow: hidden;
        display: inline-block;
      }
      
      .dropdown .dropbtn {
        font-size: 16px;
        border: none;
        outline: none;
        color: white;
        padding: 14px 16px;
        background-color: inherit;
        font-family: inherit;
        margin: 0;
      
      }