body {

    background-color: rgba(2, 0, 3, 0.699);
}

nav li {

display: inline;
padding: 20px;
background: rgba(2, 0, 3, 0.527);
margin: 40px 20px;
border-style: solid;
border-radius: 15px;
border-color: grey;
}



nav ul {

margin-top: 30px;

}

header {

        display: flex;
        flex-direction: column;
        align-items: center;

}

nav a {

    color: grey;
    text-decoration: none;
    font-family: 'Roboto Condensed', sans-serif;
}

nav li:hover {


    background-color: rgb(0, 0, 0);
    
}

.html:hover {


    color: rgb(53, 102, 207);
}

.css:hover {
    
    color: rgb(230, 125, 88);
    }

    .praxis:hover {

        color: rgb(19, 172, 19);
    }

    h1 {

            text-align: center;
            margin-top: 120px;
            font-family: 'Roboto Condensed', sans-serif;
            color: rgb(204, 204, 204);
            height: 30px;

    }

    .modul {

            color: rgb(0, 0, 0);
            font-family: 'Roboto Condensed', sans-serif;
    }

    #diveins {

        position: absolute;
        left: 0;
        top: 30;
        width: 400px;
        height: 50px;

    }

    p {

        color: grey;
        max-width: 1000px;
        font-family: 'Roboto Condensed', sans-serif;
    }

        h2 {

            color: rgba(2, 0, 3, 0.699);
            font-family: 'Roboto Condensed', sans-serif;
        }


        .abfrage {

                display: flex;
                justify-content: center;
                
                
        }

        li {
            font-family: 'Roboto Condensed', sans-serif;
            color: grey;
        }

        footer {

                position: absolute;
                background-color: rgba(2, 0, 3, 0.527);

        }

        .htmltitel {

                    color: rgb(53, 102, 207);

        }


        #ankereins {

            color: rgb(53, 102, 207);
        }

        .pundp {

                color: rgb(53, 102, 207);
                font-family: 'Roboto Condensed', sans-serif;
        }

        .aunda {

            color: rgb(53, 102, 207);
            font-family: 'Roboto Condensed', sans-serif;
        }

        .starttag {

            color: rgb(53, 102, 207);
            font-family: 'Roboto Condensed', sans-serif;
        }
    /* Das Internet */
